* {
  box-sizing: border-box;
}

body {
  margin: 0;
  padding: 32px;
}

.features {
  max-width: 1040px;
  margin: 0 auto;
}

.image-swiper {
  flex: 1;
  max-height: calc(100vh - 64px);
}

.thumbs-swiper-wrapper {
  display: block;
}

.thumbs-swiper {
  flex: 1;
  /* max-height: calc(100vh - 64px); */
}

.swiper-slide {

}

.features {
  display: flex;
  gap: 32px;
}

.image-swiper__image {
  width: 100%;
  height: 100%;
  object-fit: cover;
  border-radius: 8px;
}

.thumbs-swiper__slide {
  padding: 32px;
  background: #f8f8f8;
  cursor: pointer;
  border-radius: 8px;
  display: flex;
  gap: 16px;
}

.thumbs-swiper__slide .bi {
  font-size: 20px;
}

.thumbs-swiper__slide h2 {
  font-size: 20px;
  margin: 0;
}

.thumbs-swiper__slide p {
  font-size: 14px;
  display: none;
}

.thumbs-swiper__slide section {

}

/* https://webflow.com/ */

.image-swiper__slide {
}

.swiper-slide-thumb-active p{
  display: block;
}