@import url('https://fonts.googleapis.com/css2?family=Roboto:ital,wght@0,100;0,300;0,400;0,500;0,700;0,900;1,100;1,300;1,400;1,500;1,700;1,900&display=swap');


* {
  box-sizing: border-box;
}

body {
  margin: 0;
  padding: 32px 0;
  font-family: "Roboto", sans-serif;
  font-weight: 300;
  background: #f0efeb;
  color: #333333;
}

.swiper {
  width: 100%;
  height: auto;
  padding-left: calc(128px / 2);
}

.swiper-wrapper {
  padding: 0;
}

.our-team .header {
  display: flex;
  align-items: center;
  max-width: 1480px;
  width: calc(100% - 128px);
  margin: 0 auto;
}

.our-team .title {
  font-size: 32px;
  font-weight: 300;
}

.our-team .navigation {
  margin-left: auto;
  margin-right: 0;
  display: flex;
  align-items: center;
  gap: 8px;

  .my-swiper-button {
    user-select: none;
    cursor: pointer;
    font-size: 20px;
  }

  .swiper-button-disabled {
    opacity: .4;
  }
}

.our-team .member {
  .image {
    width: 100%;
    height: 480px;
    object-position: top;
    object-fit: cover;
    filter: grayscale(100%);
  }

  .name {
    font-size: 24px;  
  }

  .position {
    margin: 4px 0 0;
  }
}


/* Small devices such as large phones (640px and up) */
@media only screen and (min-width: 640px) {}

/* Medium devices such as tablets (768px and up) */
@media only screen and (min-width: 768px) {}

/* Large devices such as laptops (1024px and up) */
@media only screen and (min-width: 1024px) {}

/* Largest devices such as desktops (1280px and up) */
@media only screen and (min-width: 1280px) {}